<!DOCTYPE html>
<html>
  <head>
    <!-- This stylesheet contains specific styles for displaying the map on
      on this page. Replace it with your own styles as described in the
      documentation:
      https://developers.google.com/maps/documentation/javascript/tutorial -->
    <!-- <link rel="stylesheet" href="/maps/documentation/javascript/style.css"> -->
</head>
  <body>
    <h1 class="text-center">{{greeting}} and Welcome to {{title}}!!!</h1>
    <h3 class="text-center">... {{subtitle}}</h3>
    <div id="map"></div>
    <script>
      var map;
      function initMapDefault() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -41.2969092, lng: 174.7720306},
          zoom: 16
        });
      }
      function initMapCycling() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -41.2969092, lng: 174.7720306},
          zoom: 16
        });
        var bikeLayer = new google.maps.BicyclingLayer();
        bikeLayer.setMap(map);
      }
      function initMapTraffic() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -41.2969092, lng: 174.7720306},
          zoom: 16
        });
        var trafficLayer = new google.maps.TrafficLayer();
        trafficLayer.setMap(map);
      }
      function initMapLondon() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 51.5058456, lng: -0.1456965},
          zoom: 12
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);
      }
      function initMapEDA() {
        var myLatLng = {lat: -41.2968469, lng: 174.7738201};

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 19,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Enspiral Dev Academy'
        });
      }
      function initMapAREA51() {
        var myLatLng = {lat: 37.2336523, lng: -115.8059359};

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng,
          mapTypeId: 'hybrid'
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'AREA 51'
        });
      }
      function initMapCookies() {
        var myLatLng = {lat: -43.5540551, lng: 172.4768174};

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: myLatLng,
          mapTypeId: 'hybrid'
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Cookie Time Factory'
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARmlZdC56EQCWrGryoVKvQwhhiBsqm_tc&callback=initMapAREA51"
    async defer></script>

      <br>

      <div class="button-div">
        <button class="map-button" type="button">Cycling Routes</button>
        <button class="map-button" type="button">Traffic Flow</button>
        <button class="map-button" type="button">Bus Stops</button>
      </div>

  </body>
</html>
